@font-face {
  font-family: "myFont";
  src: url("fonts/bpg_nino_mtavruli_bold.ttf") format("trueType");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "myFont", sans-serif;
  line-height: 1.6;
  
}
a {
  text-decoration: none;
  color: #000000;
}
ul,
ol {
  list-style-type: none;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  /* padding: 0 2rem; გვერდებზე padding mobile-ისთვის */
}
/*--------CART PAGE STYLES-----------*/
#bgr{
  background-image: url("images/bgr.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 50%;
  background-attachment: fixed;
}
.cart-title{
  text-align: center;
  margin-top: 100px;
  color: #4a0e15;
}
#cart-total{
  text-align: center;
  margin-top: 20px;
  color: #4a0e15;

}
#cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

/* თითოეული პროდუქტის div */
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  border: 1px solid #d4af37;
  border-radius: 8px;
  background-color: #fafafa;
  width: 250px;
}
.cart-item img {
  width: 80px;
  height: auto;
  border-radius: 5px;
}

/* ტექსტები */
.cart-item div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* წაშლის ღილაკი */
.remove-btn {
  background-color: #d4af37;
  color: #4a0e15;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.remove-btn:hover {
  background-color: #b48d31;
  transform: translateY(-2px);
}


